body {
    color: #dcdccc;
    background: #3f3f3f;
    font-family: "Source Code Pro", monospace;
}

.dashboard {
    margin: auto;
    width: fit-content;
}

.title {
    text-align: center;
}

.prev-challenges {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.switch-year {
    margin: 0px 5px;
    font-weight: bold;
    cursor: default;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid #dcdccc 1px;
    text-align: left;
    padding: 5px 10px;
}


.last-update {
    text-align: right;
    margin: 10px 5px 0 0;
}

.star-none  { color: #606060; }
.star-first { color: #9999cc; }
.star-both  { color: #ffff66; }
